{% extends 'halaman/base.html' %}
{% load static %}

{% block content %}
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static 'halaman/assets/img/bg255.jpeg' %} ');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="title">About Me</h1>
                    <h4>Mahasiswa UMKT</h4>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="container">
        <div class="about-description text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h5 class="description">Di website ini saya akan menceritakan sedikit pengalaman saya setelah membaca buku-buku. Dari segi emosi, imajinasi, pengetahuan, pesan yang didapat dan sedikit penggalan cerita. Saya juga baru dalam membaca buku. Jadi pengalaman saya juga masih kurang. Tapi saya usahakan supaya bisa membuat kalian bersemangat untuk mau membaca buku, atau setidaknya membaca di platform lain supaya literasi kita naik.</h5>
                </div>
            </div>
        </div>
        <div class="about-team team-1">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title">Kutu Buku</h2>
                    <h5 class="description">Bacalah buku sebelum buku menceritakan kisahmu tanpa memakai namamu</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" src="{% static 'halaman/assets/img/faces/rizqi2.jpeg' %}" />
                            </a>
                        </div>

                        <div class="card-content">
                            <h4 class="card-title">Muhammad Rizqi</h4>
                            <h6 class="category text-muted">Mahasiswa UMKT</h6>

                            <p class="card-description">
                                Mahasiswa Teknik Informatika Fakultas Sains & Teknologi
                            </p>
                            <div class="footer">
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}