{% extends 'halaman/base.html' %}
{% load static %}

{% block content %}
    <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static 'halaman/assets/img/bg9.jpg' %} ');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="title">About Me</h1>
                        <h4>Hubungi saya jika ada saran dan kritik.</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="main main-raised">
		<div class="contact-content">
    		<div class="container">
            	<h2 class="title">Mari Berteman</h2>
				<div class="row">
                    <div class="col-12 col-md-12">
                        <div class="col-md-4">
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="material-icons">pin_drop</i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Kampus</h4>
                                    <p> Universitas Muhammadiyah Kalimantan Timur<br>
                                        Jln. Juanda, Samarinda Kota<br>
                                        Kantin Gedung G
                                    </p>
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-md-4">
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="material-icons">phone</i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Kirimi Saya Pesan</h4>
                                    <p> Muhammad Rizqi<br>
                                        2211102441109@umkt.ac.id<br>
                                        Setiap saat
                                    </p>
                                </div>
                            </div>                            
                        </div>
                         
                        <div class="col-md-4">
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="material-icons">business_center</i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Data Pribadi</h4>
                                    <p> Mahasiswa UMKT<br>
                                        Muhammad Rizqi<br>
                                        2211102441109<br>
                                        S1 Teknik Informatika
                                    </p>
                                </div>
                            </div>

                    </div>
                	
               </div>
            </div>
		</div>
    </div>
{% endblock %}
