<footer class="footer">
    <div class="container">
        <a class="footer-brand" href="/">Kutu Buku</a>


        <ul class="pull-center">
            <li>
                <a href="/">
                   Blog
                </a>
            </li>
            <li>
                <a href="/about">
                    About
                </a>
            </li>
            <li>
                <a href="/contact">
                    Contact Us
                </a>
            </li>
        </ul>

        <ul class="social-buttons pull-right">
            <li>
                <a href="https://twitter.com/rizqistark" target="_blank" class="btn btn-just-icon btn-twitter btn-simple">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/mr.izqi_" target="_blank" class="btn btn-just-icon btn-instagram btn-simple">
                    <i class="fa fa-google"></i>
                </a>
            </li>
        </ul>

    </div>
</footer>